<% @page_title = "Print Vendor Badge - #{@first_name} #{@last_name}" %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= format_page_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <style>
    @media print {
      @page { margin: 0 0 0 -5px; }
      .no-print, .no-print * { display: none !important; }
    }
  </style>
  <script>
    $(window).load(function() {
      adjustFontSizeVendorInfo();
    })
  </script>
</head>
<body id="vendor" class="print-badge text-center">
  <div id="first-name"><%= @first_name %></div>
  <br/>
  <div id="last-name"><%= @last_name %></div>
  <br/>
  <div id="account-name"><%= @vendor_name %></div>

  <div class="no-print">
    <div id="print-badge-btn">
      <a href="javascript:window.print()" class="btn btn-primary">
        Print Badge
      </a>
    </div>

    <div id="edit-attendee-btn" class="top-10">
      <%= link_to "Edit Info", new_vendor_badge_path(
          first_name: params[:first_name], last_name: params[:last_name],
          vendor_name: params[:vendor_name]
        ), class: "btn btn-danger" %>
    </div>

    <div id="finished-btn" class="top-10">
      <%= link_to "Done", new_vendor_badge_path, class: "btn btn-success" %>
    </div>
  </div>
</body>
</html>