<h2>New Batch</h2>
<hr />
<%= form_tag({ action: :upload_batch }, multipart: true) do %>
	<%= hidden_field_tag 'name', @event_name %>
	<div class="form-group text-left">
		<%= file_field_tag 'file', accept: ".xls" %>
		<span class="font-12">
      <span class="ss-red">Must be <strong>.xls</strong> format</span> - 
      <%= link_to '(Download Template)', download_path(type: 'template'),
        data: { turbolinks: false } %>
    </span>
	</div>

  <%= submit_tag 'Create', class: "btn btn-primary" %>
<% end %>