<div class="row">	
	<div class="col-md-6 col-md-offset-3">
		<div class="well text-center">
			<h2 class="bottom-0">Update Event Name</h2>
			<span class="font-12"><%= @event_name %></span>
			<hr class="top-10" />
			<%= form_tag update_path(name: @event_name) do %>
				<div class="form-group">
					<%= select_tag 'city', options_for_select(@cities, @city), required: "required",
						prompt: '-- Select Location --', class: "form-control" %>
				</div>

				<div class="form-group">
					<%= select_tag 'type', options_for_select(@types, @type), required: "required",
						prompt: '-- Select Event Type --', class: "form-control" %>
				</div>

				<div class="form-group">
					<%= select_tag 'year', options_for_select(@years, @year), required: "required",
						class: "form-control" %>
				</div>

			  <%= submit_tag 'Update Event', class: "btn btn-primary" %>
			  <%= link_to 'Cancel', event_path(name: @event_name), class: "btn btn-danger left-10" %>
			<% end %>
		</div>
	</div>
</div>