<div class="row">
	<div class="col-md-6">
		<div class="well">
			<%= link_to 'Archives', archives_path, class: "top-10 pull-right" %>
			<h2 class="text-center">Events</h2>
			<hr />
			<% if @events.any? %>
				<div class="list-group">
					<% @events.each do |event| %>
						<%= link_to event, event_path(name: event), class: "list-group-item" %>
					<% end %>
				</div>
			<% else %>
				<div class="text-center">
					<h4>No active events :(</h4>
				</div>
			<% end %>
		</div>
	</div>

	<div class="col-md-6">
		<div class="well text-center">
			<h2>New Event</h2>
			<hr />
			<%= form_tag({ action: :upload }, multipart: true) do %>
				<div class="form-group">
					<%= text_field_tag 'event_name', '', placeholder: "Event Name", required: "required",
						class: "form-control" %>
				</div>
				<div class="form-group text-left">
					<%= file_field_tag 'file', accept: ".xls" %>
					<span class="font-12 ss-red">Must be <strong>.xls</strong> format</span>
				</div>
			  <%= submit_tag 'Upload', class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>