<div id="event-title">
	<h2 id="event-name" class="pull-left"><%= @event_name %></h2>
	<div id="event-controls" class="pull-right top-20">
		<%= link_to 'Edit', edit_path(name: @event_name),
			class: "btn btn-sm btn-primary right-5" %>

		<%= link_to 'Archive', archive_path(name: @event_name),
			method: 'post', class: "btn btn-sm btn-warning right-5",
			data: { confirm: "Are you sure you want to ARCHIVE #{@event_name}" } %>

		<%= link_to 'Delete', destroy_path(name: @event_name),
			method: 'delete', class: "btn btn-sm btn-danger",
			data: { confirm: "Are you sure you want to DELETE #{@event_name}" } %>
	</div>
</div>

<% if @batches.any? %>
	<div class="col-sm-6 col-md-6">
		<%= render 'upload_batch' %>
	</div>

	<div class="row">
		<% @batches.each do |batch| %>
			<div class="col-sm-6 col-md-6">
				<div class="well text-center">
					<h2 class="bottom-0">Batch <%= batch %></h2>
					<span class="font-12"><%= batch_created_date(@event_name, batch) %></span>
					<hr class="top-10" />
					<div class="list-group">
						<%= link_to 'Original Upload',
							download_path(name: @event_name, batch: batch,
							file: batch_upload_filename(@event_name, batch)),
							class: "list-group-item" %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% else %>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<%= render 'upload_batch' %>
		</div>
	</div>
<% end %>