<% if @attended %>
  results = "<tr id=\"<%= @activity_id %>\" class=\"attended\">";
  results += "<td><%= j link_to @first_name, not_attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{@first_name} #{@last_name} as Not Attended?" } %></td>";
  results += "<td><%= j link_to @last_name, not_attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{@first_name} #{@last_name} as Not Attended?" } %></td>";
  results += "<td><%= j link_to @account_name, not_attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{@first_name} #{@last_name} as Not Attended?" } %></td>";
  results += "<td class=\"text-center\"><%= j link_to 'Yes', not_attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{@first_name} #{@last_name} as Not Attended?" } %></td>";
  results += "</tr>";

  $('tr#<%= @activity_id %>').replaceWith(results);

  $('tr#<%= @activity_id %>').click(function() {
    var rowId = $(this).attr('id');
    var spinnerRow = "<tr id=\"" + rowId + "\">";
    spinnerRow += "<td colspan=\"4\" style=\"background-color: #eee;\">";
    spinnerRow += "<div class=\"spinner spinner-20 spinner-row\">";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "</div></td></tr>";

    $(this).replaceWith(spinnerRow);
  });

<% else %>
  results = "<tr id=\"<%= @activity_id %>\" class=\"not-attended\">";
  results += "<td><%= j link_to @first_name, attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true' %></td>";
  results += "<td><%= j link_to @last_name, attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true' %></td>";
  results += "<td><%= j link_to @account_name, attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true' %></td>";
  results += "<td class=\"text-center\"><%= j link_to 'No', attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true' %></td>";
  results += "</tr>";

  $('tr#<%= @activity_id %>').replaceWith(results);

  $('tr#<%= @activity_id %>').click(function() {
    var rowId = $(this).attr('id');
    var spinnerRow = "<tr id=\"" + rowId + "\">";
    spinnerRow += "<td colspan=\"4\" style=\"background-color: #eee;\">";
    spinnerRow += "<div class=\"spinner spinner-20 spinner-row\">";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
    spinnerRow += "</div></td></tr>";

    $(this).replaceWith(spinnerRow);
  });

  alert("There was an issue trying to set <%= @first_name %> <%= @last_name %> to Attended. Please try again. Contact IT if issue persists.");
<% end %>

