<% if @not_attended %>
  results = "<tr id=\"<%= @activity_id %>\" class=\"not-attended\">";
  results += "<td><%= j link_to @first_name, attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true' %></td>";
  results += "<td><%= j link_to @last_name, attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true' %></td>";
  results += "<td><%= j link_to @account_name, attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true' %></td>";
  results += "<td class=\"text-center\"><%= j link_to 'Not Attended', attended_event_check_ins_path(@event, activity_id: @activity_id, fn: @first_name, ln: @last_name, an: @account_name), method: 'patch', remote: 'true' %></td>";
  results += "</tr>";

  $('tr#<%= @activity_id %>').replaceWith(results);
<% else %>
  alert("There was an issue trying to set <%= @first_name %> <%= @last_name %> back to Not Attended. Please try again. Contact IT if issue persists.");
<% end %>