var cancelBtn = "<a id=\"check-in-cancel-btn\"";
cancelBtn += "class=\"btn btn-sm btn-danger top-10 left-10\">Cancel</a>";

var results = "";

<% if @results.any? %>
  results += "<div id=\"check-in-results\" class=\"row\">";
  results += "<div class=\"col-xs-12 col-sm-12 col-md-10 col-md-offset-1\">";
  results += "<table width=\"100%\" class=\"table table-hover text-left\">";
  results += "<thead><tr class=\"th-row\">";
  results += "<th width=\"17%\">First <span class=\"hide-name\">Name</span></th>";
  results += "<th width=\"21%\">Last <span class=\"hide-name\">Name</span></th>";
  results += "<th width=\"47%\">Account</th>";
  results += "<th width=\"15%\" class=\"text-center\">Attended</th>";
  results += "</tr></thead><tbody>";

  <% @results.each do |row| %>
    <% activity_id = row[0] || nil %>
    <% response_code = row[1].to_s || nil %>
    <% contact_first_name = row[2] || nil %>
    <% contact_last_name = row[3] || nil %>
    <% contact_account_name = row[4] || nil %>
    <% first_name = row[5] || nil %>
    <% last_name = row[6] || nil %>
    <% account_name = row[7] || nil %>

    <% if contact_first_name && !first_name %>
      <% if response_code == '100000004' %>
        results += "<tr id=\"<%= activity_id %>\" class=\"not-attended\">";
        results += "<td><%= j link_to contact_first_name, attended_event_check_ins_path(@event, activity_id: activity_id, fn: contact_first_name, ln: contact_last_name, an: contact_account_name), method: 'patch', remote: 'true' %></td>";
        results += "<td><%= j link_to contact_last_name, attended_event_check_ins_path(@event, activity_id: activity_id, fn: contact_first_name, ln: contact_last_name, an: contact_account_name), method: 'patch', remote: 'true' %></td>";
        results += "<td><%= j link_to contact_account_name, attended_event_check_ins_path(@event, activity_id: activity_id, fn: contact_first_name, ln: contact_last_name, an: contact_account_name), method: 'patch', remote: 'true' %></td>";
        results += "<td class=\"text-center\"><%= j link_to 'No', attended_event_check_ins_path(@event, activity_id: activity_id, fn: contact_first_name, ln: contact_last_name, an: contact_account_name), method: 'patch', remote: 'true' %></td>";
        results += "</tr>";
      <% elsif response_code == '100000003' %>
        results += "<tr id=\"<%= activity_id %>\" class=\"attended\">";
        results += "<td><%= j link_to contact_first_name, not_attended_event_check_ins_path(@event, activity_id: activity_id, fn: contact_first_name, ln: contact_last_name, an: contact_account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{contact_first_name} #{contact_last_name} as Not Attended?" } %></td>";
        results += "<td><%= j link_to contact_last_name, not_attended_event_check_ins_path(@event, activity_id: activity_id, fn: contact_first_name, ln: contact_last_name, an: contact_account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{contact_first_name} #{contact_last_name} as Not Attended?" } %></td>";
        results += "<td><%= j link_to contact_account_name, not_attended_event_check_ins_path(@event, activity_id: activity_id, fn: contact_first_name, ln: contact_last_name, an: contact_account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{contact_first_name} #{contact_last_name} as Not Attended?" } %></td>";
        results += "<td class=\"text-center\"><%= j link_to 'Yes', not_attended_event_check_ins_path(@event, activity_id: activity_id, fn: contact_first_name, ln: contact_last_name, an: contact_account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{contact_first_name} #{contact_last_name} as Not Attended?" } %></td>";
        results += "</tr>";
      <% end %>

    <% elsif first_name && !contact_first_name %>
      <% if response_code == '100000004' %>
        results += "<tr id=\"<%= activity_id %>\" class=\"not-attended\">";
        results += "<td><%= j link_to first_name, attended_event_check_ins_path(@event, activity_id: activity_id, fn: first_name, ln: last_name, an: account_name), method: 'patch', remote: 'true' %></td>";
        results += "<td><%= j link_to last_name, attended_event_check_ins_path(@event, activity_id: activity_id, fn: first_name, ln: last_name, an: account_name), method: 'patch', remote: 'true' %></td>";
        results += "<td><%= j link_to account_name, attended_event_check_ins_path(@event, activity_id: activity_id, fn: first_name, ln: last_name, an: account_name), method: 'patch', remote: 'true' %></td>";
        results += "<td class=\"text-center\"><%= j link_to 'No', attended_event_check_ins_path(@event, activity_id: activity_id, fn: first_name, ln: last_name, an: account_name), method: 'patch', remote: 'true' %></td>";
        results += "</tr>";
      <% elsif response_code == '100000003' %>
        results += "<tr id=\"<%= activity_id %>\" class=\"attended\">";
        results += "<td><%= j link_to first_name, not_attended_event_check_ins_path(@event, activity_id: activity_id, fn: first_name, ln: last_name, an: account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{first_name} #{last_name} as Not Attended?" } %></td>";
        results += "<td><%= j link_to last_name, not_attended_event_check_ins_path(@event, activity_id: activity_id, fn: first_name, ln: last_name, an: account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{first_name} #{last_name} as Not Attended?" } %></td>";
        results += "<td><%= j link_to account_name, not_attended_event_check_ins_path(@event, activity_id: activity_id, fn: first_name, ln: last_name, an: account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{first_name} #{last_name} as Not Attended?" } %></td>";
        results += "<td class=\"text-center\"><%= j link_to 'Yes', not_attended_event_check_ins_path(@event, activity_id: activity_id, fn: first_name, ln: last_name, an: account_name), method: 'patch', remote: 'true', data: { confirm: "Are you sure you want to mark #{first_name} #{last_name} as Not Attended?" } %></td>";
        results += "</tr>";
      <% end %>
    <% end %>
  <% end %>
  results += "</tbody></table></div></div>";
<% else %>
  results += "<div id=\"check-in-no-results\" class=\"row\">";
  results += "<div class=\"col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3\">";
  results += "<div class=\"well text-center pad-top-20\">";
  results += "<h4>";
  <% if params[:first_name].present? || params[:last_name].present? || params[:account_name].present? %>
    <% if @account_length_error %>
      results += "3 characters required for account search.";
    <% else %>
      results += "No results found.";
    <% end %>
  <% else %>
    results += "You didn't search anything.";
  <% end %>
  results += "</h4>";
  results += "</div></div></div>"
<% end %>

clearCheckInSearch();

$('#check-in-submit-btn').removeAttr('disabled');
$('#check-in-submit-btn').removeAttr('width-80');
$('#check-in-submit-btn').find('span.submit-text').removeClass('hide-me');
$('#check-in-submit-btn').find('div.spinner').addClass('hide-me');

$(cancelBtn).insertAfter('#check-in-submit-btn');

$('#check-in-cancel-btn').click(function() {
  clearCheckInSearch();
  $('#check-in-ln').focus();
});

$(results).insertAfter('#check-in-form');

$('#check-in-results table tbody tr').click(function() {
  var rowId = $(this).attr('id');
  var spinnerRow = "<tr id=\"" + rowId + "\">";
  spinnerRow += "<td colspan=\"4\" style=\"background-color: #eee;\">";
  spinnerRow += "<div class=\"spinner spinner-20 spinner-row\">";
  spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
  spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
  spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
  spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
  spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
  spinnerRow += "<div class=\"gray\"></div><div class=\"gray\"></div>";
  spinnerRow += "</div></td></tr>";

  $(this).replaceWith(spinnerRow);
});