<%= form_tag @event, method: method, id: "event-form" do %>
  <div class="form-group">
    <%= select_tag 'type', options_for_select(@types, @type), required: true,
      prompt: '-- Select Event Type --', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= select_tag 'year', options_for_select(@years, @year), required: true,
      class: "form-control" %>
  </div>

  <div class="form-group text-left">
    <%= label_tag :subject, 'QR Code Email Subject' %>
    <%= text_field_tag :subject, @event.qr_code_email_subject, required: true,
      class: "form-control" %>
  </div>

  <button class="btn btn-primary loader">
    <span class="submit-text"><%= btn_text %></span>
    <div class="spinner spinner-20 hide-me">
      <div></div><div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
  </button>
<% end %>