<% @page_title = "Edit Event - #{@event.name}" %>

<%= render 'shared/errors', obj: @event, hide_attr: true %>
<%= render 'shared/errors', obj: @campaign, hide_attr: true %>

<div class="row">
  <div id="edit-event-header" class="col-xs-12 col-sm-12 col-md-12">
    <h2 id="edit-event-title" class="pull-left"><%= @event.name %></h2>
    <div id="event-controls" class="pull-right top-10">
      <%= link_to 'Back to Event', event_path(@event),
        class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>

<div class="row"> 
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well text-center">
      <h2>Update Event</h2>
      <hr class="top-10" />
      <%= render 'events/form', method: 'patch', btn_text: "Update" %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well">
      <h2 class="text-center">CRM Campaigns</h2>
      <hr class="top-10" />
      <% if @campaigns.any? %>
        <div id="event-crm-campaigns" class="list-group">
          <% @campaigns.each do |campaign| %>
            <li class="list-group-item font-12">
              <%= campaign.name %>
              <div class="pull-right">
                <span class="font-10"><%= campaign.code %></span>
                <%= link_to [@event, campaign], method: 'delete',
                  title: "Delete", class: "left-10 red",
                  data: { confirm: "Are you sure want to UNASSIGN CRM Campaign #{campaign.name}?" } do %>
                    <span class="glyphicon glyphicon-remove-circle"></span>
                <% end %>
              </div>
            </li>
          <% end %>
        </div>
      <% else %>
        <div class="text-center font-16 bottom-20">
          No CRM Campaigns assigned yet :(
        </div>
      <% end %>

      <hr class="top-10" />
      <div class="text-center font-20 bottom-10">Assign CRM Campaign</div>
      <%= render 'crm_campaigns/form', btn_text: "Search" %>
    </div>
  </div>
</div>