<%= render 'shared/ajax_loader_js', form_id: 'event-form' %>
<%= render 'shared/errors', obj: @event, hide_attr: true %>

<div class="row">
  <% if admin? %>
    <div class="col-xs-12 col-sm-6 col-md-6">
  <% else %>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <% end %>
    <div class="well">
      <h2 class="text-center">Active Events</h2>
      <hr />
      <% if @events.any? %>
        <div class="list-group">
          <% @events.each do |event| %>
            <% if admin? %>
              <%= link_to event.name, event_path(event),
                class: "list-group-item" %>
            <% else %>
              <%= link_to event.name,  new_event_on_site_attendee_path(event),
                class: "list-group-item" %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="text-center">
          <h4>No active events :(</h4>
        </div>
      <% end %>
    </div>
  </div>

  <% if admin? %>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well text-center">
        <h2>New Event</h2>
        <hr />
        <%= render 'form', method: 'post', btn_text: 'Create' %>
      </div>
    </div>
  <% end %>
</div>