<%= render 'shared/errors', obj: @event %>

<div class="row">
  <% if admin? %>
    <div class="col-xs-12 col-sm-6 col-md-6">
  <% else %>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <% end %>
    <div class="well">
      <h2 class="text-center">Active Events</h2>
      <hr />
      <% if @events.any? %>
        <div class="list-group">
          <% @events.each do |event| %>
            <% if admin? %>
              <%= link_to event.name, event_path(event),
                class: "list-group-item" %>
            <% else %>
              <%= link_to event, on_site_badge_path(name: event.id),
                class: "list-group-item" %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="text-center">
          <h4>No active events :(</h4>
        </div>
      <% end %>
    </div>
  </div>

  <% if admin? %>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well text-center">
        <h2>New Event</h2>
        <hr />
        <%= form_tag @event, multipart: true do %>
          <div class="form-group">
            <%= select_tag 'type', options_for_select(@types), required: true,
              prompt: '-- Select Event Type --', class: "form-control" %>
          </div>

          <div class="form-group">
            <%= select_tag 'year', options_for_select(@years), required: true,
              class: "form-control" %>
          </div>

          <%= submit_tag 'Create Event', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>