<% @page_title = @event.name %>
<% multi = @event.multiple_locations %>

<%= render 'shared/errors', obj: @batch %>

<div class="row">
  <div id="event-title" class="col-xs-12 col-sm-12 col-md-12">
    <h2 id="event-name" class="pull-left"><%= @event.name %></h2>
    <div id="event-controls" class="pull-right top-10">
      <% if @attendees_present %>
        <%= link_to download_event_on_site_attendees_path(@event),
          title: "Download On-Site Attendees Export",
          data: { turbolinks: false },
          class: "btn btn-sm btn-success right-5" do %>
            <span class="glyphicon glyphicon-cloud-download"></span>
        <% end %>
      <% end %>

      <%= link_to edit_event_path(@event), title: "Edit Event Details",
        class: "btn btn-sm btn-primary right-5" do %>
          <span class="glyphicon glyphicon-pencil"></span>
      <% end %>

      <%= link_to archive_event_path(@event), method: 'patch',
        title: "Archive Event", class: "btn btn-sm btn-warning right-5",
        data: { confirm: "Are you sure you want to ARCHIVE #{@event.name}" } do %>
          <span class="glyphicon glyphicon-save-file"></span>
      <% end %>

      <%= link_to event_path(@event), method: 'delete',
        title: "Delete Event", class: "btn btn-sm btn-danger",
        data: { confirm: "Are you sure you want to DELETE #{@event.name}" } do %>
          <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <% if @batches.any? %>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div id="new-batch" class="well text-center pad-top-10 <%= multi ? 'batch-multiple' : 'batch' %>">
        <h3 class="margin-0">New Batch</h3>
        <hr class="top-10 bottom-10" />
        <%= render 'batches/form', multi: multi, upload: true, btn_text: 'Create' %>
      </div>
    </div>

    <% @batches.each do |batch| %>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="well text-center <%= multi ? 'batch-multiple' : 'batch' %>">
          <div class="event-actions">
            <%= link_to [:edit, @event, batch], title: 'Edit Batch', 
              class: "right-5" do %>
                <span class="glyphicon glyphicon-pencil font-17 top-12"></span>
            <% end %>
            <%= link_to [@event, batch], method: 'delete', title: "Delete Batch",
              data: { confirm: "Are you sure you want to DELETE Batch #{batch.number}"} do %>
                <span class="glyphicon glyphicon-remove font-20 red top-10"></span>
            <% end %>
          </div>

          <h3 class="batch-title inline-block">Batch <%= batch.number %></h3>
          <% if multi %>
            <h4 class="top-2 bottom-0 location"><%= batch.location %></h4>
          <% end %>
          <div class="batch-date font-12">
            <%= batch.created_at.strftime('%b %d, %Y -%l:%M %p') %>
            <% if batch.batch_type == '1' %>
              -- <strong>Attendees</strong>
            <% elsif batch.batch_type == '2' %>
              -- <strong>Employees</strong>
            <% end %>
          </div>
          <div class="batch-desc font-12">
            <%= batch.description %>
          </div>
          <hr class="top-10" />
          <div class="list-group">
            <%= link_to 'Original Upload',
              download_event_batch_path(@event, batch, type: 'original'),
              data: { turbolinks: false }, class: "list-group-item" %>

            <% if generation_complete?(@event.id, batch.number) %>
                <%= link_to 'QR Codes',
                  download_event_batch_path(@event, batch, type: 'qr_codes'),
                  data: { turbolinks: false }, class: "list-group-item" %>

                <%= link_to 'Excel Export',
                  download_event_batch_path(@event, batch, type: 'export'),
                  data: { turbolinks: false }, class: "list-group-item" %>
              </div>
            <% else %>
              </div>
              <%= link_to 'Generate QR Codes & Export',
                generate_event_batch_path(@event, batch),
                method: 'post', class: 'btn btn-primary' %>
            <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div id="new-batch" class="well text-center pad-top-10 <%= multi ? 'batch-multiple' : 'batch' %>">
        <h3 class="margin-0">New Batch</h3>
        <hr class="top-10 bottom-10" />
        <%= render 'batches/form', multi: multi, upload: true, btn_text: 'Create' %>
      </div>
    </div>
  <% end %>
</div>