<% @page_title = @event.name %>

<%= render 'shared/errors', obj: @batch, show_attr: true %>

<div class="row">
  <div id="event-title" class="col-xs-12 col-sm-12 col-md-12">
    <h2 id="event-name" class="pull-left"><%= @event.name %></h2>
    <div id="event-controls" class="pull-right top-20">
      <%= link_to edit_event_path(@event), title: "Edit Event",
        class: "btn btn-sm btn-primary right-5" do %>
          <span class="glyphicon glyphicon-pencil"></span>
      <% end %>

      <%= link_to archive_event_path(name: @event_name), method: 'post',
        title: "Archive Event", class: "btn btn-sm btn-warning right-5",
        data: { confirm: "Are you sure you want to ARCHIVE #{@event.name}" } do %>
          <span class="glyphicon glyphicon-save-file"></span>
      <% end %>

      <%= link_to destroy_path(name: @event_name), method: 'delete',
        title: "Delete Event", class: "btn btn-sm btn-danger",
        data: { confirm: "Are you sure you want to DELETE #{@event.name}" } do %>
          <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <% if @batches.any? %>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <%= render 'batches/upload_batch_form' %>
    </div>

    <% @batches.each do |batch| %>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="well text-center batch">
          <%= link_to [:edit, @event, batch], title: 'Edit Batch', 
            class: "batch edit" do %>
              <span class="glyphicon glyphicon-pencil font-17 top-12"></span>
          <% end %>
          <%= link_to [@event, batch], method: 'delete',
            title: "Delete Batch", class: "batch delete",
            data: { confirm: "Are you sure you want to DELETE Batch #{batch.number}"} do %>
              <span class="glyphicon glyphicon-remove font-20 red top-10"></span>
          <% end %>

          <h2 class="top-10 bottom-0 inline-block">
            Batch <%= batch.number %>
          </h2>

          <% if batch.location %>
            <h4 class="top-5 bottom-0 location"><%= batch.location %></h4>
          <% else %>
            <br />
          <% end %>

          <span class="font-12">
            <%= batch.created_at.strftime('%b %d, %Y -%l:%M %p') %>
          </span>

          <br />
          <span class="font-12"><%= batch.description %></span>
          <hr class="top-10" />

          <div class="list-group">
            <%= link_to 'Original Upload',
              download_path(type: 'original', name: @event.name, batch: batch.number),
              data: { turbolinks: false }, class: "list-group-item" %>

            <% if batch_qr_codes_and_export?(@event.id, batch.id) %>
                <%= link_to 'QR Codes',
                  download_path(type: 'qr_codes', name: @event.name, batch: batch.number),
                  data: { turbolinks: false }, class: "list-group-item" %>
                <%= link_to 'Excel Export',
                  download_path(type: 'export', name: @event.name, batch: batch.number),
                  data: { turbolinks: false }, class: "list-group-item" %>
              </div>
            <% else %>
              </div>
              <hr class="top-10 bottom-10"/>
              <%= link_to 'Generate QR Codes & Export',
                generate_path(name: @event.name, batch: batch.number),
                method: 'post', class: 'btn btn-primary' %>
            <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <%= render 'batches/upload_batch_form' %>
    </div>
  <% end %>
</div>