<% @page_title = "New DiVal Employee Badge" %>

<%= render 'shared/ajax_loader_js', form_id: 'dival-employee-form' %>
<%= render 'shared/ajax_loader_js', form_id: 'crm-dival-employee-search-form' %>
<%= render "new_dival_badge_js" %>

<div class="row">
  <div id="dival-employee-badge-header" class="col-xs-12 col-sm-12 col-md-12">
    <h2 id="dival-employee-badge-title" class="pull-left">
      DiVal Safety Employee Badge
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well">
      <h3 class="top-15 text-center">
        New Badge
        <a id="reset-form-btn" class="btn btn-xs btn-danger pull-right">
          Reset
        </a>
      </h3>
      <hr class="top-10 bottom-10" />
      <%= render 'form' %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well pad-bottom-10 text-center">
      <h4>Search for DiVal Employee</h4>
      <hr class="top-10 bottom-10" />
      <%= render 'search_crm_dival_employees_form' %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well text-center">
      <h4>Populate Warehouse Address</h4>
      <hr class="top-10 bottom-10" />
      <div id="dival-whs-first-row">
        <button id="whs-buffalo" class="btn btn-sm btn-default whs-btn-sm">
          Buffalo
        </button>
        <button id="whs-rochester" class="btn btn-sm btn-default whs-btn-sm left-10">
          Rochester
        </button>
        <button id="whs-syracuse" class="btn btn-sm btn-default whs-btn-sm left-10">
          Syracuse
        </button>
      </div>

      <div class="top-10">
        <button id="whs-houston" class="btn btn-sm btn-default whs-btn-lg">
          Houston
        </button>
        <button id="whs-pittsburgh" class="btn btn-sm btn-default whs-btn-lg left-20">
          Pittsburgh
        </button>
      </div>

      <div class="top-10">
        <button id="whs-boston" class="btn btn-sm btn-default whs-btn-lg">
          Boston
        </button>
        <button id="whs-florida" class="btn btn-sm btn-default whs-btn-lg left-20">
          Ft Lauderdale
        </button>
      </div>
    </div>
  </div>
</div>