<% @page_title = "Print DiVal Employee Badge - #{@first_name} #{@last_name}" %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= format_page_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <style>
    @media print {
      @page { margin: 0; }
      .no-print, .no-print * { display: none !important; }
    }
  </style>
</head>
<body id="print-qr" class="text-center">
  <% if @first_name.size < 9 %>
    <div id="first-name-under-9"><%= @first_name %></div>
  <% else %>
    <div id="first-name-over-8"><%= @first_name %></div>
  <% end %>
  
  <div id="last-name"><%= @last_name %></div>
     
  <div id="account-name-dival"><%= @account_name %></div>
  
  <img src="<%= @qr_code.to_data_url %>" />

  <div class="no-print">
    <div id="print-badge-btn">
      <a href="javascript:window.print()" class="btn btn-primary">
        Print Badge
      </a>
    </div>

    <div id="edit-attendee-btn" class="top-10">
      <%= link_to "Edit Info", new_dival_badge_path(
          first_name: params[:first_name], last_name: params[:last_name],
          title: params[:title], account_name: params[:account_name],
          street1: params[:street1], street2: params[:street2],
          city: params[:city], state: params[:state],
          zip_code: params[:zip_code], email: params[:email],
          phone: params[:phone]
        ), class: "btn btn-danger" %>
    </div>

    <div id="finished-btn" class="top-10">
      <%= link_to "Done", new_dival_badge_path, class: "btn btn-success" %>
    </div>
  </div>
</body>
</html>