<% @page_title = "Print DiVal Employee Badge - #{@first_name} #{@last_name}" %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= format_page_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <style>
    @media print {
      @page { margin: 0 0 0 -5px; }
      .no-print, .no-print * { display: none !important; }
    }
  </style>
  <script>
    $(window).load(function() {
      adjustFontSizeDivalEmployeeInfo();
    })
  </script>
</head>
<body id="dival-employee" class="print-badge text-center">
  <div id="first-name"><%= @first_name %></div>
  <br />
  <div id="last-name"><%= @last_name %></div>
  <img src="<%= @qr_code.to_data_url %>" />

  <div class="no-print">
    <div id="print-badge-btn">
      <a href="javascript:window.print()" class="btn btn-primary">
        Print Badge
      </a>
    </div>

    <div id="edit-attendee-btn" class="top-10">
      <%= link_to "Edit Info", new_dival_badge_path(
          first_name: params[:first_name], last_name: params[:last_name],
          title: params[:title], account_name: params[:account_name],
          street1: params[:street1], street2: params[:street2],
          city: params[:city], state: params[:state],
          zip_code: params[:zip_code], email: params[:email],
          phone: params[:phone]
        ), class: "btn btn-danger" %>
    </div>

    <div id="finished-btn" class="top-10">
      <%= link_to "Done", new_dival_badge_path, class: "btn btn-success" %>
    </div>
  </div>
</body>
</html>