<% upload ||= false %>
<% show_cancel_btn ||= false %>

<%= form_for [@event, @batch], multipart: true do |f| %>
  <div class="text-left">
    <% if multi %>
      <div class="form-group">
        <%= f.select 'location', options_for_select(@locations, @batch.location),
          { prompt: '-- Select Location --' },
          { required: true, class: "form-control" } %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.text_field 'description', required: true,
        placeholder: "Batch Description...", class: "form-control" %>
    </div>

    <% if upload %>
      <%= f.file_field 'file', accept: ".xls", required: true %>
      <div class="font-12">
        <span class="ss-red">Must be <strong>.xls</strong> format</span> - 
        <%= link_to '(Download Template)', download_path(type: 'template'),
          data: { turbolinks: false } %>
      </div>
    <% end %>
  </div>

  <%= f.submit btn_text, class: "btn btn-primary submit-btn" %>
  <% if show_cancel_btn %>
    <%= link_to 'Cancel', event_path(@event),
      class: "btn btn-danger submit-btn left-10" %>
  <% end %>
<% end %>