<% upload ||= false %>
<% show_cancel_btn ||= false %>

<%= form_for [@event, @batch], multipart: true,
  html: { id: 'batch-form', class: "batch-form", autocomplete: "off" } do |f| %>
  
  <div class="text-left">
    
    <% if multi && upload %>
      <div id="batch-type-group" class="form-group">
        <%= f.select 'batch_type',
          options_for_select([['Attendees', 1],['Employees', 2]], 1),
          { prompt: '-- Select Batch Type --'},
          { required: true, class: "form-control",
            onChange: "showOrRemoveLocations()" } %>
      </div>
    <% elsif upload %>
      <div id="batch-type-group" class="form-group">
        <%= f.select 'batch_type',
          options_for_select([['Attendees', 1],['Employees', 2]], 1),
          { prompt: '-- Select Batch Type --'},
          { required: true, class: "form-control" } %>
      </div>
    <% end %>

    <% if multi && @batch.batch_type != '2' %>
      <div id="batch-location-group" class="form-group">
        <%= f.select 'location', options_for_select(@locations, @batch.location),
          { prompt: '-- Select Location --' },
          { required: true, class: "form-control" } %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.text_field 'description', required: true,
        placeholder: "Batch Description...", class: "form-control" %>
    </div>

    <% if upload %>
      <%= f.file_field 'file', accept: ".xls", required: true %>
      <div class="font-12">
        <span class="ss-red">Must be <strong>.xls</strong> format</span> - 
        <%= link_to 'Attendee',
          download_attendee_template_event_path(@event),
          data: { turbolinks: false } %>
        /
        <%= link_to 'Employee',
          download_employee_template_event_path(@event),
          data: { turbolinks: false } %>
      </div>
    <% end %>
  </div>
  
  <button class="btn btn-primary submit-btn loader">
    <span class="submit-text"><%= btn_text %></span>
    <div class="spinner spinner-20 hide-me">
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
    </div>
  </button>

  <% if show_cancel_btn %>
    <%= link_to 'Cancel', event_path(@event),
      class: "btn btn-danger submit-btn left-10" %>
  <% end %>
<% end %>