<% multiple_locations = @event.multiple_locations %>

<div class="well text-center batch pad-top-15">
  <h2 class="margin-0">New Batch</h2>
  <hr class="top-10 bottom-10" />
  <%= form_for [@event, @batch], multipart: true do |f| %>
    <div class="text-left">
      <% if multiple_locations %>
        <div class="form-group">
          <%= f.select 'location', options_for_select(@locations),
            { prompt: '-- Select Location --' },
            { required: true, class: "form-control" } %>
        </div>
      <% end %>

      <div class="form-group <%= 'top-40' unless multiple_locations %>">
        <%= f.text_field 'description', required: true,
          placeholder: "Batch Description...", class: "form-control" %>
      </div>

      <%= f.file_field 'file', accept: ".xls", required: true %>

      <span class="font-12">
        <span class="ss-red">Must be <strong>.xls</strong> format</span> - 
        <%= link_to '(Download Template)', download_path(type: 'template'),
          data: { turbolinks: false } %>
      </span>
    </div>

    <%= f.submit 'Create', class: "btn btn-primary top-15" %>
  <% end %>
</div>