<% show_cancel_btn ||= false %>

<%= form_for [@event, @attendee], html: { class: "form-horizontal attendee-form" } do |f| %>
  <%= f.hidden_field :contact_in_crm, value: false %>

  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-4 control-label" do %>
      First Name <sup>*</sup>
    <% end %>

    <div class="col-sm-8">
      <%= f.text_field :first_name, value: @attendee.first_name, required: true,
        autofocus: 'autofocus', class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-4 control-label" do %>
      Last Name <sup>*</sup>
    <% end %>

    <div class="col-sm-8">
      <%= f.text_field :last_name, value: @attendee.last_name, required: true,
        class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :account_name, 'Account', class: "col-sm-4 control-label" do %>
      Account <sup>*</sup>
    <% end %>

    <div class="col-sm-8">
      <%= f.text_field :account_name, value: @attendee.account_name,
         required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :account_number, 'Account #', class: "col-sm-4 control-label" %>

    <div class="col-sm-8">
      <%= f.text_field :account_number, value: @attendee.account_number,
        class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :street1, 'Street 1', class: "col-sm-4 control-label" do %>
      Street 1 <sup>*</sup>
    <% end %>

    <div class="col-sm-8">
      <%= f.text_field :street1, value: @attendee.street1, required: true,
        class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :street2, 'Street 2', class: "col-sm-4 control-label" %>

    <div class="col-sm-8">
      <%= f.text_field :street2, value: @attendee.street2,
        class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city, class: "col-sm-4 control-label" do %>
      City <sup>*</sup>
    <% end %>

    <div class="col-sm-8">
      <%= f.text_field :city, value: @attendee.city, required: true,
        class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, class: "col-sm-4 control-label" do %>
      State <sup>*</sup>
    <% end %>

    <div class="col-sm-8">
      <%= f.text_field :state, value: @attendee.state, required: true,
        class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :zip_code, class: "col-sm-4 control-label" do %>
      Zip Code <sup>*</sup>
    <% end %>

    <div class="col-sm-8">
      <%= f.text_field :zip_code, value: @attendee.zip_code, required: true,
        class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-4 control-label" do %>
      Email <sup>*</sup>
    <% end %>

    <div class="col-sm-8">
      <%= f.text_field :email, value: @attendee.email, required: true,
        class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, class: "col-sm-4 control-label" do %>
      Phone <sup>*</sup>
    <% end %>

    <div class="col-sm-8">
      <%= f.text_field :phone, value: @attendee.phone, required: true,
        class: "form-control phone" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :salesrep, 'Sales Rep', class: "col-sm-4 control-label" %>

    <div class="col-sm-8">
      <%= f.text_field :salesrep, value: @attendee.salesrep,
        class: "form-control" %>
    </div>
  </div>

  <div id="badge-type" class="form-group text-center">
    <label class="radio-inline">
      <% if @attendee.badge_type %>
        <%= f.radio_button :badge_type, 'n', required: true %> New Badge
      <% else %>
        <%= f.radio_button :badge_type, 'n', checked: true, required: true %> New Badge
      <% end %>
    </label>
    <label class="radio-inline left-40">
      <%= f.radio_button :badge_type, 'c' %> Correction
    </label>
  </div>

  <div class="text-center">
    <%= f.submit btn_text, class: "btn btn-primary" %>
    <% if show_cancel_btn %>
      <%= link_to 'Cancel', new_event_on_site_attendee_path(@event),
        class: "btn btn-danger left-10" %>
    <% end %>
  </div>
<% end %>

<%= render 'format_phone' %>