<% @page_title = "Edit Badge - #{@event.name}" %>

<div class="row">
  <div id="event-title-on-site" class="col-xs-12 col-sm-12 col-md-12">
    <h2 id="event-name-on-site" class="pull-left"><%= @event.name %></h2>
  </div>
</div>

<%= render 'shared/errors', obj: @attendee %>

<div class="row"> 
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <div class="well">
      <h3 class="top-15 bottom-5 text-center">Edit On-Site Attendee</h3>
      <div class="text-center attendee-name-header">
        <%= @attendee.first_name %> <%= @attendee.last_name %>
      </div>
      <hr class="top-10 bottom-10" />
      <% if @return %>
        <%= render 'form', btn_text: 'Update & Print', show_return_btn: true %>
      <% else %>
        <%= render 'form', btn_text: 'Update & Print', show_cancel_btn: true %>
      <% end %>
    </div>
  </div>
</div>