<% @page_title = "On-Site QR Code - #{@event.name}" %>

<script>
  $(document).ready(function() {
    $('#last_name').focus(function() { $('#account_name').val(""); });
    $('#account_name').focus(function() { $('#last_name').val(""); });
  });
</script>

<%= render 'shared/errors', obj: @attendee %>

<div class="row">
  <div id="event-title-on-site" class="col-xs-12 col-sm-12 col-md-12">
    <h2 id="event-name-on-site" class="pull-left"><%= @event.name %></h2>
  </div>
</div>

<div class="row"> 
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well">
      <h3 class="top-15 text-center">New QR Code</h3>
      <hr class="top-10 bottom-10" />
      <%= render 'form', btn_text: 'Create & Print' %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well pad-bottom-10 text-center">
      <h4>Search CRM Contacts</h4>
      <hr class="top-10 bottom-10" />
      <%= form_tag crm_contact_event_on_site_attendees_path(@event),
        method: 'get', remote: true, class: "crm-contact-form" do %>
        <div class="form-group">
          <%= text_field_tag 'last_name', params[:last_name],
            placeholder: "Last Name...", class: "form-control" %>
        </div>
        <h4 class="top-5 bottom-5">OR</h4>
        <div class="form-group">
          <%= text_field_tag 'account_name', params[:account_name],
            placeholder: "Account Name...", class: "form-control" %>
        </div>
        <%= submit_tag 'Search', id: "crm-contact-submit-btn",
          class: "btn btn-primary top-10",
          data: { disable_with: "Loading..." } %>
      <% end %>
    </div>
  </div>
</div>