<% @page_title = "New Badge - #{@event.name}" %>

<script>
  $(document).ready(function() {
    $('#crm-contact-ln').focus(function() { $('#crm-contact-an').val(""); });
    $('#crm-contact-an').focus(function() { $('#crm-contact-ln').val(""); });
    $('#reset-form-btn').click(resetNewAttendeeForm);
  });
</script>

<div class="row">
  <div id="event-title-on-site" class="col-xs-12 col-sm-12 col-md-12">
    <h2 id="event-name-on-site" class="pull-left"><%= @event.name %></h2>
    <div id="event-controls" class="pull-right">
      <% if @event_has_campaigns %>
        <%= link_to 'Check In', new_event_check_in_path(@event),
          class: "btn btn-sm btn-success right-5" %>
      <% end %>
      <%= link_to 'All Badges', event_on_site_attendees_path(@event),
        class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <%= render 'errors', obj: @attendee %>
    <div class="well">
      <h3 id="new-attendee-title" class="top-15 text-center">
        New Attendee Badge
        <a id="reset-form-btn" class="btn btn-xs btn-danger pull-right">
          Reset
        </a>
      </h3>
      <hr class="top-10 bottom-10" />
      <%= render 'form', btn_text: 'Create & Print' %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well pad-bottom-10 text-center">
      <h4>Search CRM Contacts</h4>
      <hr class="top-10 bottom-10" />
      <%= render 'search_crm_contacts_form' %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 pull-right">
    <div class="well pad-bottom-10 text-center">
      <h4>Populate CRM Account Info</h4>
      <hr class="top-10 bottom-10" />
      <%= render 'search_as400_account_form' %>
    </div>
  </div>
</div>