<% @page_title = "New Badge / Check-In - #{@event.name}" %>

<script>
  $(document).ready(function() {
    $('#crm-contact-ln').focus(function() { $('#crm-contact-an').val(""); });
    $('#crm-contact-an').focus(function() { $('#crm-contact-ln').val(""); });
    $('#check-in-ln').focus(function() { $('#check-in-an').val(""); });
    $('#check-in-an').focus(function() { $('#check-in-ln').val(""); });

    $('#reset-form-btn').click(resetNewAttendeeForm);

    <% if @contact_id %>
      $('#on-site-attendee-form').attr('action',
        $('#on-site-attendee-form').attr('action') + '?contact_id=' + '<%= @contact_id %>');
    <% end %>
  });
</script>

<%= render 'shared/ajax_loader_js', form_id: 'on-site-attendee-form' %>
<%= render 'shared/ajax_loader_js', form_id: 'search-crm-contacts-form' %>
<%= render 'shared/ajax_loader_js', form_id: 'search-as400-accounts-form' %>
<%= render 'shared/ajax_loader_js', form_id: 'search-event-registrations-form' %>

<div class="row">
  <div id="event-title-on-site" class="col-xs-12 col-sm-12 col-md-12">
    <h2 id="event-name-on-site" class="pull-left"><%= @event.name %></h2>
    <div id="event-controls" class="pull-right">
      <%= link_to 'All Badges', event_on_site_attendees_path(@event),
        class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <% if @event_has_campaigns %>
      <div id="check-in-form" class="well pad-bottom-10 text-center">
        <h3 class="top-10">Check In</h3>
        <hr class="top-10 bottom-10" />
        <%= render 'check_ins/form' %>
      </div>
    <% end %>

    <div class="well well-dark pad-bottom-10 text-center">
      <h4>Search CRM Contacts</h4>
      <hr class="top-10 bottom-10" />
      <%= render 'search_crm_contacts_form' %>
    </div>

    <div class="well well-dark pad-bottom-10 text-center">
      <h4>Populate Account Info</h4>
      <hr class="top-10 bottom-10" />
      <%= render 'search_as400_account_form' %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <%= render 'errors', obj: @attendee %>
    <div id="new-on-site-badge-form" class="well well-dark">
      <h3 id="new-attendee-title" class="top-15 text-center">
        New Attendee Badge
        <a id="reset-form-btn" class="btn btn-xs btn-danger pull-right">
          Reset
        </a>
      </h3>
      <hr class="top-10 bottom-10" />
      <%= render 'form', btn_text: 'Create & Print' %>
    </div>
  </div>
</div>