<% @page_title = "Print Badge - #{@attendee.first_name} #{@attendee.last_name}" %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= format_page_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <style>
    @media print {
      @page { margin: 0 0 0 -10px; }
      .no-print, .no-print * { display: none !important; }
    }
  </style>
  <script>
    $(window).load(function() {
      adjustFontSizeAttendeeInfo();
    })
  </script>
</head>
<body id="attendee" class="print-badge text-center">
  <div id="first-name"><%= @attendee.first_name %></div>
  <br/>
  <div id="last-name"><%= @attendee.last_name %></div>
  <br/>
  <div id="account-name"><%= @attendee.account_name %></div>
  <img src="<%= @qr_code.to_data_url %>" />

  <div class="no-print">
    <div id="print-badge-btn">
      <a href="javascript:window.print()" class="btn btn-primary">
        Print Badge
      </a>
    </div>

    <div id="edit-attendee-btn" class="top-10">
      <%= link_to "Edit Info",
        edit_event_on_site_attendee_path(@event, @attendee, return: "y"),
        class: "btn btn-danger" %>
    </div>

    <div id="finished-btn" class="top-10">
      <%= link_to "Done", new_event_on_site_attendee_path(@event),
        class: "btn btn-success" %>
    </div>
  </div>
</body>
</html>